@import '../../mixinspack/mixins.styl'

.main_container
    sizer(68vw,71vh)
    margin-left: 15%
    margin-top: 2vh
    border-radius: 2.4vh
    box-shadow: 30px 34px 51.9px -23px rgba(0, 0, 0, 0.15);
    flexer(s,c,rn)

.card_container_left
    sizer(65%,100%)
    background: radial-gradient(258.42% 185.09% at 64.55% 88.93%, #F6F6F6 0%, #D7D7D7 100%), #FFF;
    border-top-left-radius: 2.4vh
    border-bottom-left-radius: 2.4vh
    text-align: center
    align-items: center
    
.text_container_l
    sizer(auto,auto)
    margin-left: 5%
    margin-top: 10%

.circle_l
    sizer(2.5vw,5vh)
    margin-left: 48%
    margin-top: 3.5vh
    border: 0.1vw solid #DADADA
    border-radius: 50% 

.google_ico
    sizer(1vw,2vh)
    margin-top: 1.5vh


.text_container_l_second
    sizer(auto,auto)
    margin-top: 3vh


.use_email
    margin-left: 1.5vw
    color: #343434;
    font-family: 'Montserrat',sans-serif
    font-size: 2.1vh
    margin-bottom: 4vh

.make_acc_text
    color: #3AAC7F;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7vh
    font-weight: 800
    line-height: 100%
    text-transform: capitalize

.card_container_right
    sizer(40%,100%)
    background: linear-gradient(211deg, #39AB59 -8.54%, #39AB8C 96.13%, #39AB90 102.98%);
    border-top-right-radius: 2.4vh
    border-bottom-right-radius: 2.4vh

.image_r_back
    sizer(25.98vw,71vh)
    position: absolute
    border-top-right-radius: 2.4vh
    border-bottom-right-radius: 2.4vh

.log-form
    sizer(100%,40%) 
    margin-top:2vh

.form-field
    sizer(20vw,6vh)
    margin-top:2vh
    border:none
    background-color:#E4E4E4
    background-image: url('/public/images/profile_icon.png') 
    background-position: 0.8vw 1.6vh
    background-repeat: no-repeat
    padding-left:3vw
    border-radius:0.3vw


.form-field:nth-child(3)
    background-image: url("/public/images/email_icon.png")
    background-position: 0.8vw 2.1vh 

.form-field::placeholder
    font-size:1vw    
    color:#616161

.form-field:focus
    outline-color: #39AB59
    

.l-button
    sizer(15vw,6vh)
    border: none
    border-radius: 2vw
    background-color: #39AB59
    color:white
    text-transform:uppercase
    font-size:1.2vw
    font-weight:600
    cursor: pointer

.l-button:hover
    background-color: #3fca66


.card_container_right
    line-height: 1.8vh
    margin: 0 0 0 0
    flexer(c,c,rw)

.text_con_r
  flexer(c,c,rw)

.hello_friend_con
    sizer(auto,9vh)

.hello_friend
    font-size: 4vh
    color: white;
    font-family: "Noto Sans", sans-serif
    font-weight: 600

.enter_text_r_con
    sizer(14vw,auto)

.enter_text_r
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif
    font-size: 1.5vh
    font-style: thin;
    font-weight: 300;
    line-height: 100%;


.enter_button_r
    flexer(c,c,cn)
    sizer(8vw,4.5vh)
    margin-top: 1.5vh
    border: 0.4vh solid white
    border-radius: 4vh
    span
        color: white