.create-form-cont {
  width: 80vw;
  height: 70vh;
  margin: auto;
  padding: 1.3vh;
  border-radius: 1.3vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(211deg, #39AB59 0%, #39AB8C 94%, #39AB90 100%);
  box-shadow: 1vw 2vh 2vw 0.5vw rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  overflow: auto
}
.create-form-cont::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.form-container {
  width: 60vw;
  height: 60vh;
  padding: 8vw;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5vh;
}

.form-group-big{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5vh;
}

label {
  color: white;
  width: 15vw
  font-weight:800;
  font-size:1vw
}


.input_create {
  width: 80vw;
  padding: 0.5vw;
  margin-left:5vw;
  border-radius: 0.5vw;
  border: none;
  font-size:1vw
  font-weight:500
}
.input_create:focus {
    outline: none
}
.desc-input{
  width: 80vw;
  padding: 0.5vw;
  margin-left:5vw;
  border-radius: 0.8vw;
  border: none;
  height: 20vh;
  resize:none;
}


button[type='submit'] {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

.divider {
  height: 0.2vh;
  background-color: #bfbfbf;
  margin-bottom: 3vh;
  margin-top: 1vh;

}


.submit-policy-btn {
  padding: 0;
  margin: 0;
  background: none;
  border:none;
  cursor: pointer;
  --primary-color: #39AB59;
  --hovered-color: #39AB59;
  position: relative;
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 0.7vw;


}

.submit-policy-btn p {
  margin: 0;
  position: relative;
  font-size: 0.7vw;
  color: var(--primary-color);
}

.submit-policy-btn::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -0.8vh;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.submit-policy-btn p::before {
  position: absolute;
  content: "ЗБЕРЕГТИ";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.submit-policy-btn:hover::after {
  width: 100%;
}

.submit-policy-btn:hover p::before {
  width: 100%;
}

.submit-btn-cont {
    border-radius: 0.5vw;
    height: 6vh;
    width: 13vw;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    margin: 0vw 0vw 3vw 47vw;
}


.pdf-cont{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    width: 46.4vw;
    border-radius: 0.8vw;
    height: 34vh;
    margin-bottom:4vh;
  }
