@import '../../mixinspack/mixins.styl';


.table-container {
  width: 80vw;
  height: 70vh;
  margin: auto;
  padding: 1.3vh;
  border-radius: 1.3vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(211deg, #39AB59 0%, #39AB8C 94%, #39AB90 100%)
  box-shadow: 20px 20px 30px 6px rgba(0, 0, 0, 0.15);
}
.table_header_txt {
    display:flex;
    flex-direction:column
    align-items:center
    align-self:center
    color:#fff
    font-size:1.2vw
}
.search-bar {
    width: 25vw;
    height: 4vh;
    border-radius: 0.8vw;
    align-self: center;
    background-image: url("/public/images/searchIcon.png")
    background-position: 95%;
    background-size: 1.3vw;
    background-repeat: no-repeat
    border: none
    outline: none
    padding-left: 1.1vw
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
  gap: 1vw;
  width:70vw;
  align-self:center
  overflow: auto
  margin-top:5vh
}
.grid-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.grid-cell {
    cursor: pointer
    border-radius: 2vw;
    background-color: transparent;
    color: #fff;
    border: 0.1vw solid #fff;
    padding: 8px;
    text-align: center;
    height: 16vh;
    box-sizing: border-box;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-weight: 700;
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.side-menu {
  background-color: #fff;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}


