@import '../../mixinspack/mixins.styl'

.HeaderMain
    sizer(100vw,16.7vh)
    background-color: white
    flexer(s,c,rw)


.logo_container
    sizer(auto,auto)
    margin-left: 8.49vw
    flexer(s,c,rw)


#Logo
    sizer(2vw,5.5vh)

.logo_text
    font-family: 'DM Sans', sans-serif
    font-size: 4.5vh
    margin-left: 0.932vw


.right_container
    flexer(s,c,rw)
    sizer(auto,auto)
    margin-left: 50.052vw
    //09A144

.login_text_r
    color: #09A144 
    font-family: 'Montserrat', sans-serif   
    font-size: 2vh
    font-weight: 500

.block_r
    flexer(c,c,cn)
    sizer(7.969vw,4.7vh)
    color: #09A144 
    border: 0.3vh solid #09A144 
    border-radius: 1.2vh
    margin-left: 1.563vw

.register_text_r
    font-family: 'Montserrat', sans-serif   
    font-size: 2.05vh
    font-weight: 200

.circle_r
    sizer(4vw,8vh)
    border-radius: 100%;
    margin-left: 1.615vw
    border: 0.1vh solid black
    