@import '../../mixinspack/mixins.styl'

.HeaderMain
    sizer(100%,12vh)
    flexer(s,c,rw)


.logo_container
    sizer(auto,auto)
    margin-left: 8.49vw
    flexer(s,c,rw)


#Logo
    sizer(1.5vw,4.3vh)

.logo_text
    font-family: 'DM Sans', sans-serif
    font-size: 3vh
    margin-left: 0.932vw


.right_container
    flexer(s,c,rw)
    sizer(auto,auto)
    margin-left: 20vw
    //09A144

.login_text_r
    color: #09A144 
    font-family: 'Montserrat', sans-serif   
    font-size: 1.85vh
    font-weight: 500
    sizer(auto,auto)
    transition: 0.3s
    
.login_text_r:hover
        color: rgb(8, 96, 42)
        font-family: 'Montserrat', sans-serif   
        font-size: 1.85vh
        font-weight: 500
        sizer(auto,auto)
        cursor pointer



.block_r
    flexer(c,c,cn)
    sizer(6vw,4vh)
    color: #09A144 
    border: 0.3vh solid #09A144 
    border-radius: 0.8vh
    margin-left: 1.563vw
    cursor pointer
    transition: 0.3s


.block_r:hover
    flexer(c,c,cn)
    sizer(6vw,4vh)
    background-color: #09A144 
    border: 0.3vh solid #09A144 
    border-radius: 0.8vh
    margin-left: 1.563vw
    .register_text_r
        color: white

.register_text_r
    font-family: 'Montserrat', sans-serif   
    font-size: 1.7vh
    font-weight: 400
    color: #09A144;
    sizer(auto,auto)
    transition: 0.3s



.circle_r
    sizer(3vw,6vh)
    border-radius: 100%;
    margin-left: 1.615vw
    border: 0.1vh solid black
    

.cont_search_and_create
    sizer(15vw,2vh)
    flexer(s,c,cw)
    margin-left: 25vw
    

.create_policy
    margin-left: 2vw
    color: #3AAC73
    font-size: 2vh